@media (max-width: 700px){
    main{
        color: white;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .grid-mobile-index{
        background-color: red;
    }
    .grid-nav{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    .productos{
        display: grid;
        grid-template-columns: auto;
    }
    .tarjeta-producto{
        color: black;
        background-color: white;
        margin: 35px;
    }
    .boton-compra{
        color: black;
    }
    .grid-header{
        grid-area: 1/1/2/2;
    }
    .grid-main{
        grid-area: 2/1/3/2;
    }
    .grid-footer{
        grid-area: 3/1/4/2;
    }
    .portada{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .texto{
        grid-area: 2/1/3/2;
        padding: 1rem;
    }
 .img-portada{
    grid-area: 1/1/2/2;
 }
}