.grid-container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto;
    max-width: 2000px;
}
.grid-header{
    grid-area: 1/1/2/4;
}
header{
    margin-left: 0;
    margin-right: 0;
    color: white;
    background-color: black;
}
h1{
    margin: 0px 20px 20px 20px;
    text-align: center;
    font-family: "bebas";
    font-size: 3rem;
}
.buscador{
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
}