.grid-main{
    grid-area: 2/2/3/3;
}
main{
    font-family: "teko";
    font-size: larger;
}
.productos{
    display: grid;
    grid-template-columns: auto auto;
}
.tarjeta-producto{
    color: white;
    background-color: rgb(116, 2, 2);
    padding: 15px;
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.img-producto{
    max-width: 100%;
    
}
.boton-compra{
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
}

@media (max-width: 600px){
    main{
        color: white;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        background-color: rgb(116, 2, 2);
    }
    .grid-nav{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    .productos{
        display: grid;
        grid-template-columns: auto;
    }
    .tarjeta-producto{
        color: black;
        background-color: white;
        margin: 35px;
    }
    .boton-compra{
        color: black;
    }
    .grid-header{
        grid-area: 1/1/2/2;
    }
    .grid-main{
        grid-area: 2/1/3/2;
    }
    .grid-footer{
        grid-area: 3/1/4/2;
    }
    .portada{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .texto-portada{
        grid-area: 1/1/2/2;
    }
 .img-portada{
    grid-area: 2/1/3/2;
 }
}