.tarjeta-producto{
    color: white;
    padding: 15px;
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.remeras{
    background-color: rgba(146, 60, 139, 0.856);
}
.buzos{
    background-color: rgba(103, 212, 103, 0.89);
}
.prints{
    background-color: rgba(2, 197, 197, 0.856);
}
.img-producto{
    max-width: 100%;
    
}
.boton-compra{
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
}